#produtos {
    display: flex;
    justify-content: space-around;
    background-color: #041A04;
    align-items: flex-start;
    border-radius: 10px;
    margin: 50px 0;
    flex-wrap: wrap;
}

#produtos figure {
    background-color: #061403;
    width: 90%;
    max-width: 250px;
    height: auto;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    padding: 30px;
}

#produtos figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption h3 {
    padding: 10px;
    text-transform: uppercase;
    color: #FDFFFE;
}

figcaption p {
    display: flex;
    text-overflow: ellipsis;
    text-align: start;
    margin: 10px 0;
    color: #FDFFFE;
}


@media (max-width: 768px) {
    #produtos {
        justify-content: center;
    }

    #produtos figure {
        width: 90%;
        max-width: 200px;
    }

    figcaption h3 {
        font-size: 1.2rem;
    }

    figcaption p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    #produtos {
        flex-direction: column;
        align-items: center;
    }

    #produtos figure {
        width: 100%;
        max-width: none;
    }
}