#produtos {
    display: flex;
    justify-content: space-around;
    background-color: #041A04;
    align-items: center;
    border-radius: 10px;
    margin: 50px 0;
}

#produtos figure img {
    width: 200px;
    height: 230px;
    align-items: center;
    border-radius: 5px;
}

figcaption h3 {
    padding: 10px;
    text-transform: uppercase;
    color: #FDFFFE;
}

figcaption p {
    display: flex;
    text-overflow: ellipsis;
    text-align:start;
    margin: 10px 30px ;
    color: #FDFFFE;
}

#produtos figure {
    background-color: #061403;
    width: 250px;
    height: 380px;
    border-radius: 20px;
    text-align: center;
    margin: 50px 0 ;
    padding: 30px;
}

hr {
    margin: 0 20px;
}